= simple_form_for @pin, html: { multipart: true } do |f|
	- if @pin.errors.any?
		#errors
			%h2
				= pluralize(@pin.errors.count, "error")
				prevented this Pin from saving
			%ul
				- @pin.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		%p= f.label "Select a category for the image to be palced in :-"
		= f.collection_select :category_id, Category.order("id ASC"), :id, :name, {selected: 4}, { class: "form-control" }

	%br

	.form-group
		= f.input :image, input_html: { class: 'form-control' }

	%br

	.form-group
		= f.input :title, input_html: { class: 'form-control' }

	.form-group
		= f.input :description, input_html: { class: 'form-control' }

	.form-group.btn-group
		= f.submit "Upload Image", class: "btn btn-primary"
		= link_to "Back", :back, class: "btn btn-default"