= provide(:title, "Eyedealist | All Images")

%header.codrops-header
	= link_to murals_pins_path do
		= image_tag "murals.png", :size => "100x62"
	= link_to illustrations_pins_path do
		= image_tag "illustrations.png", :size => "100x62"
	= link_to publications_pins_path do
		= image_tag "publications.png", :size => "100x62"

#pins.transitions-enabled
	- @pins.each do |pin|
		.box.panel.panel-default
			= link_to (image_tag pin.image), pin_path(pin)
			%p.user
				- if user_signed_in?
					.btn-group
						= link_to "Edit", edit_pin_path(pin), class: "btn btn-default"
						= link_to "Delete", pin_path(pin), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
.related.social-list
	= link_to "https://www.facebook.com/eye.dealer", target: '_blank' do
		%span.menu-icon.fa.fa-fw.fa-facebook
	= link_to "https://twitter.com/eyedealer", target: '_blank' do
		%span.menu-icon.fa.fa-fw.fa-twitter
	= link_to "https://www.instagram.com/eye.dealist", target: '_blank' do
		%span.menu-icon.fa.fa-fw.fa-instagram