= provide(:title, "Eyedealist | Videos")

%header.codrops-header
	= image_tag "videos.png", :size => "200x124"

#pins.transitions-enabled
	- @videos.each do |video|
		.box.panel.panel-default	
			%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/"+video.link, :title => "YouTube video player", :width => "348", :height => "234"}
			- if user_signed_in?
				.btn-group
					= link_to "Edit", edit_video_path(video), class: "btn btn-default"
					= link_to "Delete", video_path(video), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
					%br
					%br	
%br
%br

.related.social-list
	= link_to "https://www.facebook.com/eye.dealer", target: '_blank' do
		%span.menu-icon.fa.fa-fw.fa-facebook
	= link_to "https://twitter.com/eyedealer", target: '_blank' do
		%span.menu-icon.fa.fa-fw.fa-twitter
	= link_to "https://www.instagram.com/eye.dealist", target: '_blank' do
		%span.menu-icon.fa.fa-fw.fa-instagram